.App {
  flex-direction: column;
  display: flex;
  background-color: brown;
  border-color: beige;
  border-width: 5px;
  border-style: ridge;
  box-shadow: 3px;
  padding: 20px;
  justify-content: space-between;
  align-content: space-around;
}

.buttons {
  display: flex;
  background-color: brown;
  border-radius: 3px;
  border-color: burlywood;
  padding: 5px;
  color: bisque;
}
.img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 5px;
  padding: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap:3px;
  justify-content: first baseline;
}
.Header {
  display: flex;
  background-color: blanchedalmond;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}

.Body {
  display: flex;
  background-color: beige;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.Items {
  display: flex;
  background-color: blanchedalmond;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  border-color: azure;
  border-width: 2px;
  border-style:groove;
}

.cartItems {
  display: flex;
  background-color: blanchedalmond;
  padding: 20px;
  text-align:end;
  align-items: center;
  justify-content:space-between;
  border-color: azure;
  border-width: 2px;
  border-style:groove;
  width: 250px;
}
.Types.selected {
  background-color: brown;
  color: white;
}

.deletebutton {
  width: 15px;
  height: 15px,
}
.contain {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
}

.Types {
  display: flex;
  padding: 20px;
  background-color: beige;
  border-style: ridge;
  border-color: azure;
  border-width: 5px;
  flex-direction: row;
  justify-content: space-evenly;
}